@{
    ViewData["Title"] = "Resultado";
}

<div class="banner">
    <div class="logo-resultado">
        <img src="~/imgs/logo.png" />
    </div>
    <div class="mode-dark">
        <button class="btn-dark btn btn-outline-light">Dark Mode</button>
    </div>
</div>

<div class="result">
    <h1 class="title">Resultado</h1>
    <table>
        <thead>
            <tr>
                <th>Campeão</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@ViewBag.selectCompetidor</th>
            </tr>
        </tbody>
    </table>
    <img src="~/imgs/vencedor.png" />
    <a class="btn-back btn" asp-controller="Competidor" asp-action="Index">Jogar novamente</a>
</div>


