@{
    ViewData["Title"] = "Resultado";
}

<div class="banner-resultado">
    <div class="logo-resultado">
        <img src="~/imgs/logo.png" />
    </div>
    <div class="dark-mode-resultado">
        <button class="btn-dark-mode-resultado btn btn-outline-light">Dark Mode</button>
    </div>
</div>

<div class="result">
    <h1 class="title">Resultado</h1>
    <table>
        <thead>
            <tr>
                <th>Campeão</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@ViewBag.selectCompetidor</th>
            </tr>
        </tbody>
    </table>
    <img src="~/imgs/vencedor.png" />
    <a class="btn-back btn" asp-controller="Competidor" asp-action="Index">Jogar novamente</a>
</div>


