@font-face {
    font-family: Barlow;
    src: url(../fonts/barlow-condensed.medium.ttf);
}

* {
    font-family: Barlow;
}

body{
    background-color: #fff;
}

.dark-mode-body {
    background-color: #000;
}

main {
    align-items: center;
    /*background-color: lightcoral;*/
    display: flex;
    flex-direction: column;
    width: 100%;
}

.banner {
    background-color: #000;
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner img {
    height: 220px;
    width: 380px;
}


