/*------ Geral ------*/
@font-face {
    font-family: Barlow;
    src: url(../fonts/barlow-condensed.medium.ttf);
}

* {
    font-family: Barlow;
}

body{
    background-color: #fff;
}

.dark-mode-body {
    background-color: #000;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}




